*{
    margin: 0;
    padding: 0;
    list-style: none;/*去掉列表中的默认样式*/
    font-weight:normal;
}

a{
    text-decoration: none;
}

img{
    border:none;
}

body{
    font-family: "微软雅黑","宋体",sans-serif;
}
/*导航部分用<aside>文章的侧栏，与内容有关</aside>侧导航；
 <section>定义文档的某个区域</section>*/
